In [1]:
import win32com.client
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import csv

In [2]:
import nltk

In [4]:
mail=pd.read_csv('Rajat_Chaudhari.csv')

In [7]:
mail.head()

,SrNo,Subject,Message,Recipients,Sender,Time
0,0,RE: Rental laptops 5nos issued at TIS helpdesk.,I've collected the 2 laptops. The laptop assig...,"['Rajat.Chaudhari@mastek.com', 'assetMGMT@mast...",Sujeetkumar Sinha,2018-02-16 13:55:46+00:00
1,1,RE: Can Delhi be cancelled?,Looping Joel. \r\r\n\r\r\n \r\r\n\r\r\n \r\r\n...,"['Pooja.Nagar@mastek.com', 'Rajat.Chaudhari@ma...",Faheem A Siddiqui,2018-02-16 12:58:23+00:00
2,2,RE: Can Delhi be cancelled?,Looping Faheem and Girish to assist you.\r\r\n...,"['Rajat.Chaudhari@mastek.com', 'Girish.Kulkarn...",Pooja V Nagar,2018-02-16 12:39:23+00:00
3,3,Re: Have you got your laptops? <EOM>,Ask them to create local user and give admin r...,['Rajat.Chaudhari@mastek.com'],Vijay Lugade,2018-02-16 09:29:48+00:00
4,4,RE: Rental laptops 5nos issued at TIS helpdesk.,"Hi Team,\r\r\n\r\r\n \r\r\n\r\r\nPlease collec...","['Rajat.Chaudhari@mastek.com', 'Sujeetkumar.Si...",AssetMGMT,2018-02-16 09:25:41+00:00

In [6]:
mail=mail.rename(columns = {'Unnamed: 0':'SrNo'})

In [38]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])

In [28]:
df['Index']=df.set_index

In [52]:
for row_index,row in df.iterrows():
    if row['col1']==1.7142448831132153:
        print ('yes')
    else:
        #print(row['col1'])
        print(row.index[row['col1']==1.7142448831132153])

yes
[]
[]
[]

In [53]:
print(df['col2'][df['col1']==1.7142448831132153])

0   -1.259992
Name: col2, dtype: float64

In [41]:
df

       col1      col2      col3
0  1.714245 -1.259992  1.287803
1  0.470119  0.080521 -2.845761
2 -0.478035 -0.675842  0.614558
3 -0.370072  0.263284  0.279142