In [1]:
import win32com.client
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import csv
import nltk

In [ ]:
'''#tokenizing 
nltk.download('punkt')
#POS Tagging
nltk.download('averaged_perceptron_tagger')
#universalTagging
nltk.download('universal_tagset')
#chunking
nltk.download('maxent_ne_chunker')
#words
nltk.download('words')'''

In [2]:
mail=pd.read_csv("Rajat_NLTK.csv")

In [3]:
mail.head(2)

,Unnamed: 0,SrNo,Subject,Message,Recipients,Sender,Time,SubLen,MsgLen,MsgTokens,MsgSentenceTokens,POS_Msg,POS_Msg_Noun,Chunked,POS_Msg_Uni
0,0,0,RE: Rental laptops 5nos issued at TIS helpdesk.,i've collected the 2 laptops. the laptop assig...,"['Rajat.Chaudhari@mastek.com', 'assetMGMT@mast...",Sujeetkumar Sinha,2018-02-16 13:55:46+00:00,48,277,"['i', 'collected', 'the', 'laptops', 'the', 'l...","[""i've collected the 2 laptops."", 'the laptop ...","[('i', 'NN'), ('collected', 'VBD'), ('the', 'D...","['i', 'laptops', 'laptop', 'i', 'back', 'scree...","[('i', 'NN'), ('collected', 'VBD'), ('the', 'D...","[('i', 'NOUN'), ('collected', 'VERB'), ('the',..."
1,1,1,RE: Can Delhi be cancelled?,looping joel. \r\r\r\n\r\r\r\n \r\r\r\n\r\r\r\...,"['Pooja.Nagar@mastek.com', 'Rajat.Chaudhari@ma...",Faheem A Siddiqui,2018-02-16 12:58:23+00:00,27,52,"['looping', 'joel', 'thanks', 'and']","['looping joel.', 'thanks and']","[('looping', 'VBG'), ('joel', 'NN'), ('thanks'...","['joel', 'thanks']","[('looping', 'VBG'), ('joel', 'NN'), ('thanks'...","[('looping', 'VERB'), ('joel', 'NOUN'), ('than..."

In [6]:
negative=[]
nwords=pd.read_csv("words-negative.csv")
for word in nwords.iterrows():
    negative.append(word)

In [7]:
positive=[]
pwords=pd.read_csv("words-positive.csv")
for word in pwords.iterrows():
    positive.append(word)

In [8]:
def sentiment(text):
    temp=[]
    ncount=0
    pcount=0
    for word in text:
        for item in positive:
            if(word==item[0]):
                pcount +=1
        for item in negative:
            if(word==item[0]):
                ncount +=1
    if(pcount>0 and ncount==0):
        temp.append(1)
    elif(ncount%2>0):
        temp.append(-1)
    elif(ncount%2==0 and ncount==0):
        temp.append(1)
    else:
        temp.append(0)
    return temp

In [9]:
mail["Sentiments"]=mail["MsgTokens"].apply(lambda x: np.average(sentiment(x)))

In [10]:
mail.head(2)

,Unnamed: 0,SrNo,Subject,Message,Recipients,Sender,Time,SubLen,MsgLen,MsgTokens,MsgSentenceTokens,POS_Msg,POS_Msg_Noun,Chunked,POS_Msg_Uni,Sentiments
0,0,0,RE: Rental laptops 5nos issued at TIS helpdesk.,i've collected the 2 laptops. the laptop assig...,"['Rajat.Chaudhari@mastek.com', 'assetMGMT@mast...",Sujeetkumar Sinha,2018-02-16 13:55:46+00:00,48,277,"['i', 'collected', 'the', 'laptops', 'the', 'l...","[""i've collected the 2 laptops."", 'the laptop ...","[('i', 'NN'), ('collected', 'VBD'), ('the', 'D...","['i', 'laptops', 'laptop', 'i', 'back', 'scree...","[('i', 'NN'), ('collected', 'VBD'), ('the', 'D...","[('i', 'NOUN'), ('collected', 'VERB'), ('the',...",1.0
1,1,1,RE: Can Delhi be cancelled?,looping joel. \r\r\r\n\r\r\r\n \r\r\r\n\r\r\r\...,"['Pooja.Nagar@mastek.com', 'Rajat.Chaudhari@ma...",Faheem A Siddiqui,2018-02-16 12:58:23+00:00,27,52,"['looping', 'joel', 'thanks', 'and']","['looping joel.', 'thanks and']","[('looping', 'VBG'), ('joel', 'NN'), ('thanks'...","['joel', 'thanks']","[('looping', 'VBG'), ('joel', 'NN'), ('thanks'...","[('looping', 'VERB'), ('joel', 'NOUN'), ('than...",1.0

# rough work

In [13]:
nltk.download('book_grammars')

[nltk_data] Downloading package book_grammars to
[nltk_data]     C:\Users\rajat13440\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping grammars\book_grammars.zip.

True

In [14]:
nltk.data.show_cfg('grammars/book_grammars/sql0.fcfg')

% start S
S[SEM=(?np + WHERE + ?vp)] -> NP[SEM=?np] VP[SEM=?vp]
VP[SEM=(?v + ?pp)] -> IV[SEM=?v] PP[SEM=?pp]
VP[SEM=(?v + ?ap)] -> IV[SEM=?v] AP[SEM=?ap]
NP[SEM=(?det + ?n)] -> Det[SEM=?det] N[SEM=?n]
PP[SEM=(?p + ?np)] -> P[SEM=?p] NP[SEM=?np]
AP[SEM=?pp] -> A[SEM=?a] PP[SEM=?pp]
NP[SEM='Country="greece"'] -> 'Greece'
NP[SEM='Country="china"'] -> 'China'
Det[SEM='SELECT'] -> 'Which' | 'What'
N[SEM='City FROM city_table'] -> 'cities'
IV[SEM=''] -> 'are'
A[SEM=''] -> 'located'
P[SEM=''] -> 'in'

In [16]:
from nltk import load_parser
cp = load_parser('grammars/book_grammars/sql0.fcfg')
query = 'What cities are located in China'
trees = list(cp.parse(query.split()))
answer = trees[0].label()['SEM']
answer = [s for s in answer if s]
q = ' '.join(answer)
print(q)

SELECT City FROM city_table WHERE Country="china"

In [28]:
trees

[Tree(S[SEM=(SELECT, City FROM city_table, WHERE, , , Country="china")], [Tree(NP[SEM=(SELECT, City FROM city_table)], [Tree(Det[SEM='SELECT'], ['What']), Tree(N[SEM='City FROM city_table'], ['cities'])]), Tree(VP[SEM=(, , Country="china")], [Tree(IV[SEM=''], ['are']), Tree(AP[SEM=(, Country="china")], [Tree(A[SEM=''], ['located']), Tree(PP[SEM=(, Country="china")], [Tree(P[SEM=''], ['in']), Tree(NP[SEM='Country="china"'], ['China'])])])])])]

(SELECT, City FROM city_table, WHERE, , , Country="china")

In [155]:
mail[["Subject","Message"]]

"i've collected the 2 laptops. the laptop assigned to me is working fine, however i noticed that the back of the screen is all scratched and has a dent in one spot. below is the pic of the same. just wanted to highlight this to avoid any issues later.\r\r\r\n\r\r\r\n\r\r\r\n\r\r\r\n\r\r\r\n\r\r\r\n\r\r\r\n\r\r\r\n\r\r\r\n"

In [18]:
nltk.download('city_database')

[nltk_data] Downloading package city_database to
[nltk_data]     C:\Users\rajat13440\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\city_database.zip.

True

In [20]:
from nltk.sem import chat80
rows = chat80.sql_query('corpora/city_database/city.db', q)

In [22]:
for r in rows: print(r[0], end=" ")

chungking dairen harbin kowloon mukden peking shanghai sian tientsin

In [56]:
test=mail["MsgTokens"][100]

In [ ]:
nltk.chunk.ne_chunk(test.split())

In [39]:
mail["POS_Msg"][0]

"[('i', 'NN'), ('collected', 'VBD'), ('the', 'DT'), ('laptops', 'NNS'), ('the', 'DT'), ('laptop', 'NN'), ('assigned', 'VBD'), ('to', 'TO'), ('me', 'PRP'), ('is', 'VBZ'), ('working', 'VBG'), ('fine', 'JJ'), ('however', 'RB'), ('i', 'NN'), ('noticed', 'VBD'), ('that', 'IN'), ('the', 'DT'), ('back', 'NN'), ('of', 'IN'), ('the', 'DT'), ('screen', 'NN'), ('is', 'VBZ'), ('all', 'DT'), ('scratched', 'VBN'), ('and', 'CC'), ('has', 'VBZ'), ('a', 'DT'), ('dent', 'NN'), ('in', 'IN'), ('one', 'CD'), ('spot', 'NN'), ('below', 'NN'), ('is', 'VBZ'), ('the', 'DT'), ('pic', 'NN'), ('of', 'IN'), ('the', 'DT'), ('same', 'JJ'), ('just', 'RB'), ('wanted', 'VBD'), ('to', 'TO'), ('highlight', 'VB'), ('this', 'DT'), ('to', 'TO'), ('avoid', 'VB'), ('any', 'DT'), ('issues', 'NNS'), ('later', 'RBR')]"

# scikit

In [149]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [150]:
countVect=CountVectorizer()
tfidfVect=TfidfVectorizer()

In [156]:
train=mail[["Subject","Message"]]

In [157]:
count_vect.fit(train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [158]:
print(count_vect.vocabulary_)
# encode document

{'subject': 1, 'message': 0}

In [166]:
count_vect=count_vect.transform(train)

In [170]:
count_vect.shape

(2, 2)

In [172]:
print(type(count_vect))

<class 'scipy.sparse.csr.csr_matrix'>

In [173]:
print(count_vect.toarray())

[[0 1]
 [1 0]]

In [ ]:
vector = vectorizer.transform(text)
# summarize encoded vector
print(vector.shape)
print(type(vector))
print(vector.toarray())

In [178]:
mail.head(2)

,Unnamed: 0,SrNo,Subject,Message,Recipients,Sender,Time,SubLen,MsgLen,MsgTokens,MsgSentenceTokens,POS_Msg,POS_Msg_Noun,Chunked,POS_Msg_Uni,Sentiments
0,0,0,RE: Rental laptops 5nos issued at TIS helpdesk.,i've collected the 2 laptops. the laptop assig...,"['Rajat.Chaudhari@mastek.com', 'assetMGMT@mast...",Sujeetkumar Sinha,2018-02-16 13:55:46+00:00,48,277,"['i', 'collected', 'the', 'laptops', 'the', 'l...","[""i've collected the 2 laptops."", 'the laptop ...","[('i', 'NN'), ('collected', 'VBD'), ('the', 'D...","['i', 'laptops', 'laptop', 'i', 'back', 'scree...","[('i', 'NN'), ('collected', 'VBD'), ('the', 'D...","[('i', 'NOUN'), ('collected', 'VERB'), ('the',...",1.0
1,1,1,RE: Can Delhi be cancelled?,looping joel. \r\r\r\n\r\r\r\n \r\r\r\n\r\r\r\...,"['Pooja.Nagar@mastek.com', 'Rajat.Chaudhari@ma...",Faheem A Siddiqui,2018-02-16 12:58:23+00:00,27,52,"['looping', 'joel', 'thanks', 'and']","['looping joel.', 'thanks and']","[('looping', 'VBG'), ('joel', 'NN'), ('thanks'...","['joel', 'thanks']","[('looping', 'VBG'), ('joel', 'NN'), ('thanks'...","[('looping', 'VERB'), ('joel', 'NOUN'), ('than...",1.0

In [240]:
dataset={}
for index,item in mail.iterrows():
    #print(str(index)+" "+item["Subject"])
    key=item["SrNo"]
    value=str(item["Subject"]).lower() + " #*# " + item["Message"].lower().replace('\r',"")
    dataset[key]=value

In [219]:
def tf(data,filename):
    text=data[0]
    tokens=nltk.word_tokenize(text)
    fd=nltk.FreqDist(tokens)
    return fd

In [229]:
def idf(data,term):
    count=[term in data[mail_no] for mail_no in data]
    inv_feq=math.log(len(count)/sum(count))
    return inv_feq

In [222]:
import math

In [242]:
idf(dataset,"rajat")

1.285707124214722

In [248]:
def tfidf(data,srno,n):
    term_scores={}
    file_fd=tf(data,srno)
    for term in file_fd:
        if term.isalpha():
            idf_val=idf(data,term)
            tf_val=tf(data,srno)[term]
            tfidf_val=tf_val*idf_val
            term_scores[term]=round(tfidf_val,2)
    return sorted(term_scores.items(),key=lambda x:-x[1])[:n]

In [251]:
tfidf(dataset,0,20)

[('laptops', 9.91),
 ('scratched', 7.73),
 ('rental', 6.34),
 ('noticed', 5.93),
 ('spot', 5.33),
 ('collected', 5.24),
 ('wanted', 4.84),
 ('issued', 4.73),
 ('laptop', 4.47),
 ('highlight', 4.39),
 ('later', 4.39),
 ('helpdesk', 4.26),
 ('avoid', 4.23),
 ('fine', 4.06),
 ('however', 3.63),
 ('assigned', 3.51),
 ('issues', 3.41),
 ('screen', 3.4),
 ('tis', 3.34),
 ('pic', 3.27)]